@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Potta+One&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #e8d5e0;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: rgb(var(--foreground-rgb));
  

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}
