@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Potta+One&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
  background-color: #1c1917;
}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
